.markdown-content a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
}
  
.markdown-content a:hover {
    color: #40a9ff;
}
  
.markdown-content a:active {
    color: #096dd9;
}
  
.markdown-content a:active,
.markdown-content a:hover {
    text-decoration: none;
    outline: 0;
}
  
.markdown-content a[disabled] {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    pointer-events: none;
}

.markdown-content h2 .header-anchor, .markdown-content h3 .header-anchor{
    display: none;
}

.markdown-content h2:hover .header-anchor, .markdown-content h3:hover .header-anchor{
    display: inline-block;
}
  
.markdown-content table {
    width: 100%;
    margin-top: 12px;
    color: #34495e;
    font-size: 14px;
    line-height: 1.5;
    border-collapse: collapse;
}
  
.markdown-content table th {
    padding: 8px 10px;
    font-weight: 600;
    text-align: left;
}
  
.markdown-content table th:first-child {
    padding-left: 0;
}
  
.markdown-content table th:last-child {
    padding-right: 0;
}
  
.markdown-content table td {
    padding: 8px;
    border-top: 1px solid #ebedf0;
}
  
.markdown-content table td:first-child {
    padding-left: 0;
}
  
.markdown-content table td:first-child code {
    margin: 0;
    padding: 2px 6px;
    color: #1989fa;
    font-weight: 600;
    font-size: 11px;
    background-color: rgba(25, 137, 250, 0.1);
    border-radius: 20px;
}
  
.markdown-content table td:last-child {
    padding-right: 0;
}
  
.markdown-content table em {
    color: #4fc08d;
    font-size: 14px;
    font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
    font-style: normal;
    -webkit-font-smoothing: auto;
}
  
.markdown-content .hljs {
    display: block;
    overflow-x: auto;
    padding: 12px;
    background: #f0f0f0;
    border-radius: 5px;
}
  
.markdown-content .hljs code {
    font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}
  
.markdown-content .hljs .hljs-comment {
    color: #888888;
}
  
.markdown-content .hljs .hljs-built_in,
.markdown-content .hljs .hljs-bullet,
.markdown-content .hljs .hljs-code,
.markdown-content .hljs .hljs-addition {
    color: #0b8235;
}
  
.markdown-content .hljs .hljs-attr {
    color: #945daa;
}
  
.markdown-content .hljs .hljs-keyword,
.markdown-content .hljs .hljs-attribute,
.markdown-content .hljs .hljs-selector-tag,
.markdown-content .hljs .hljs-meta-keyword,
.markdown-content .hljs .hljs-doctag,
.markdown-content .hljs .hljs-name {
    color: #f81d22;
}
  
.markdown-content .hljs .hljs-type,
.markdown-content .hljs .hljs-string,
.markdown-content .hljs .hljs-number,
.markdown-content .hljs .hljs-selector-id,
.markdown-content .hljs .hljs-selector-class,
.markdown-content .hljs .hljs-quote,
.markdown-content .hljs .hljs-template-tag,
.markdown-content .hljs .hljs-deletion {
    color: #0b8235;
}
  
.markdown-content .hljs .hljs-title,
.markdown-content .hljs .hljs-section {
    color: #880000;
    font-weight: bold;
}
  
.markdown-content .hljs .hljs-regexp,
.markdown-content .hljs .hljs-symbol,
.markdown-content .hljs .hljs-variable,
.markdown-content .hljs .hljs-template-variable,
.markdown-content .hljs .hljs-link,
.markdown-content .hljs .hljs-selector-attr,
.markdown-content .hljs .hljs-selector-pseudo {
    color: #bc6060;
}
  
.markdown-content .hljs .hljs-literal {
    color: #78a960;
}
  
.markdown-content .hljs .hljs-meta {
    color: #1f7199;
}
  
.markdown-content .hljs .hljs-meta-string {
    color: #4d99bf;
}
  
.markdown-content .hljs .hljs-emphasis {
    font-style: italic;
}
  
.markdown-content .hljs .hljs-strong {
    font-weight: bold;
}
  
.markdown-content .tip,
.markdown-content .warning,
.markdown-content .danger {
    margin-top: 12px;
    padding: 8px 16px;
    border-radius: 5px;
}
  
.markdown-content .tip p,
.markdown-content .warning p,
.markdown-content .danger p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #34495e;
}
  
.markdown-content .tip {
    background-color: #ecf5ff;
}
  
.markdown-content .warning {
    background-color: #e6a23c;
}
  
.markdown-content .danger {
    background-color: #f56c6c;
}
  
.markdown-content .warning p,
.markdown-content .danger p {
    color: #ffffff;
}
  
.markdown-content .table-of-contents {
    width: 230px;
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 9;
    padding: 20px;
}
  
.markdown-content .table-of-contents ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.markdown-content .table-of-contents ul li {
    width: 100%;
    margin: 3px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .3s;
}

.markdown-content .table-of-contents ul li ul {
    margin: 0 0 0 10px;
}

.markdown-content .table-of-contents ul li a {
    text-decoration: none;
    color: rgba(0,0,0,.65);
}

.markdown-content .table-of-contents ul li a:hover{
    color: #1890ff;
}

.markdown-content .table-of-contents ul li ul li a {
    font-size: 13px;
}

.markdown-content .markdown-demo-block{
    margin-top: 12px;
    border: 1px solid #ebedf0;
    border-radius: 5px;
}

.markdown-content .markdown-demo-block .markdown-demo-block-source{
    padding: 12px;
}

.markdown-content .markdown-demo-block .markdown-demo-block-button{
    margin-bottom: 12px;
    text-align: center;
    cursor: pointer;
    color: #aeb0b3;
    user-select: none;
}

.markdown-content .markdown-demo-block .markdown-demo-block-button:hover{
    color: inherit;
}

.markdown-content .markdown-demo-block .markdown-demo-block-code .hljs{
    margin: 0;
    border-radius: 0;
}
  