.markdown-content {
  width: 100%;
  position: relative;
  padding: 20px;
}
.markdown-content::-webkit-scrollbar {
  width: 13px;
}
.markdown-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.markdown-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
.markdown-content a {
  color: #1890ff;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}
.markdown-content a:hover {
  color: #40a9ff;
}
.markdown-content a:active {
  color: #096dd9;
}
.markdown-content a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  pointer-events: none;
}
.markdown-content table {
  width: 100%;
  color: #34495e;
  font-size: 14px;
  line-height: 1.5;
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown-content table tr:hover {
  background: #f0f0f0;
}
.markdown-content table tr th {
  padding: 8px 10px;
  font-weight: 600;
  text-align: left;
  vertical-align: top;
}
.markdown-content table tr td {
  padding: 8px;
  border-top: 1px solid #ebedf0;
  vertical-align: top;
}
.markdown-content table thead tr:hover {
  background: none;
}
.markdown-content.markdown-has-toc {
  padding-right: 230px;
}
.markdown-content.markdown-has-toc .markdown-toc {
  width: 210px;
  max-height: 100%;
  position: fixed;
  top: 0;
  right: 13px;
  z-index: 9;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.markdown-content.markdown-has-toc .markdown-toc::-webkit-scrollbar {
  display: none;
}
.markdown-content.markdown-has-toc .markdown-toc::after {
  content: '';
  display: block;
  width: 2px;
  position: absolute;
  left: 0;
  top: 20px;
  bottom: 20px;
  background: #f0f0f0;
}
.markdown-content.markdown-has-toc .markdown-toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.markdown-content.markdown-has-toc .markdown-toc ul li {
  margin: 5px 0;
}
.markdown-content.markdown-has-toc .markdown-toc ul li ul {
  padding-left: 15px;
}
.markdown-content.markdown-has-toc .markdown-toc ul li a {
  display: block;
  text-decoration: none;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s;
}
.markdown-content.markdown-has-toc .markdown-toc ul li a:hover {
  color: #1890ff;
}
.markdown-content .markdown-anchor {
  color: #1890ff;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.markdown-content h1:hover .markdown-anchor,
.markdown-content h2:hover .markdown-anchor,
.markdown-content h3:hover .markdown-anchor,
.markdown-content h4:hover .markdown-anchor,
.markdown-content h5:hover .markdown-anchor,
.markdown-content h6:hover .markdown-anchor {
  opacity: 1;
}
.markdown-content .markdown-tip,
.markdown-content .markdown-warning,
.markdown-content .markdown-danger {
  margin-bottom: 15px;
  padding: 15px 15px 15px 30px;
  position: relative;
}
.markdown-content .markdown-tip::before,
.markdown-content .markdown-warning::before,
.markdown-content .markdown-danger::before {
  content: '';
  display: block;
  width: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.markdown-content .markdown-tip p,
.markdown-content .markdown-warning p,
.markdown-content .markdown-danger p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
.markdown-content .markdown-tip {
  background: #ecf5ff;
}
.markdown-content .markdown-tip::before {
  background: #42b983;
}
.markdown-content .markdown-tip p {
  color: #34495e;
}
.markdown-content .markdown-warning {
  background: #f3e2c8;
}
.markdown-content .markdown-warning::before {
  background: #e6a23c;
}
.markdown-content .markdown-warning p {
  color: #6b5900;
}
.markdown-content .markdown-danger {
  background: #f7bfbf;
}
.markdown-content .markdown-danger::before {
  background: #f56c6c;
}
.markdown-content .markdown-danger p {
  color: #4d0000;
}
.markdown-content .markdown-hljs {
  display: block;
  overflow-x: auto;
  padding: 12px;
  position: relative;
  background: #f0f0f0;
  border-radius: 5px;
}
.markdown-content .markdown-hljs code {
  font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}
.markdown-content .markdown-hljs em {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #888888;
}
.markdown-content .markdown-hljs .hljs-comment {
  color: #888888;
}
.markdown-content .markdown-hljs .hljs-built_in,
.markdown-content .markdown-hljs .hljs-bullet,
.markdown-content .markdown-hljs .hljs-code,
.markdown-content .markdown-hljs .hljs-addition {
  color: #0b8235;
}
.markdown-content .markdown-hljs .hljs-attr {
  color: #945daa;
}
.markdown-content .markdown-hljs .hljs-keyword,
.markdown-content .markdown-hljs .hljs-attribute,
.markdown-content .markdown-hljs .hljs-selector-tag,
.markdown-content .markdown-hljs .hljs-meta-keyword,
.markdown-content .markdown-hljs .hljs-doctag,
.markdown-content .markdown-hljs .hljs-name {
  color: #f81d22;
}
.markdown-content .markdown-hljs .hljs-type,
.markdown-content .markdown-hljs .hljs-string,
.markdown-content .markdown-hljs .hljs-number,
.markdown-content .markdown-hljs .hljs-selector-id,
.markdown-content .markdown-hljs .hljs-selector-class,
.markdown-content .markdown-hljs .hljs-quote,
.markdown-content .markdown-hljs .hljs-template-tag,
.markdown-content .markdown-hljs .hljs-deletion {
  color: #0b8235;
}
.markdown-content .markdown-hljs .hljs-title,
.markdown-content .markdown-hljs .hljs-section {
  color: #880000;
  font-weight: bold;
}
.markdown-content .markdown-hljs .hljs-regexp,
.markdown-content .markdown-hljs .hljs-symbol,
.markdown-content .markdown-hljs .hljs-variable,
.markdown-content .markdown-hljs .hljs-template-variable,
.markdown-content .markdown-hljs .hljs-link,
.markdown-content .markdown-hljs .hljs-selector-attr,
.markdown-content .markdown-hljs .hljs-selector-pseudo {
  color: #bc6060;
}
.markdown-content .markdown-hljs .hljs-literal {
  color: #78a960;
}
.markdown-content .markdown-hljs .hljs-meta {
  color: #1f7199;
}
.markdown-content .markdown-hljs .hljs-meta-string {
  color: #4d99bf;
}
.markdown-content .markdown-hljs .hljs-emphasis {
  font-style: italic;
}
.markdown-content .markdown-hljs .hljs-strong {
  font-weight: bold;
}
.markdown-content .markdown-demo-block {
  position: relative;
  background: #ffffff;
  border: 1px solid #ebedf0;
  border-radius: 5px;
}
.markdown-content .markdown-demo-block .markdown-demo-block-source {
  padding: 15px;
}
.markdown-content .markdown-demo-block .markdown-demo-block-button {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
  color: #aeb0b3;
  user-select: none;
}
.markdown-content .markdown-demo-block .markdown-demo-block-button:hover {
  color: inherit;
}
.markdown-content .markdown-demo-block .markdown-demo-block-code .markdown-hljs {
  margin: 0;
  border-radius: 0;
}
